@font-face {
    font-family: "Kaushan Script";
    src: url("kaushan-script/KaushanScript-Regular.otf");
}

body{
    font-family: Arial, Helvetica;
    font-size: 14px;
    margin: 0px 0px 0px 0px;
}

#verdarde p{
    padding-top: 0px;
    float: right;
}

#cabecalho {
    background-color: #6175f0;
    color: white;
    margin-top: 0px;
}

.referencia {
    font-style: italic;
}

#cavalo{
    float: left;
    width: 310px;
    padding-right: 13px;
    height: 210px;
}

h1 {
    size: 36px;
    font-family: "Kaushan Script", sans-serif;
    padding-top: 20px;
    padding-left: 34px;
}

h2 {
    size: 24px;
    font-family: 'Times New Roman', Times;
    padding-left: 34px;
}

#cabecalho h2 {
    padding-bottom: 12px;
}

img{
    height: 112px;
    width: 112px;
}

#title {
    padding-left: 12px;
}

#hoje {
    text-align: center;
    padding-top: 20px;
    padding-right: 35px;
    padding-left: 35px;
    padding-bottom: 30px;
    margin-right: 25px;
    width: 405px;
    background-color: #f8cef7;
    border: 1px solid #ff56fb;
    float: right;
}

.destacado {
    background-color: #c4caf3;
    color: #004a79;
}

.primeiro {
    margin-left: 12px;
}

.segundo  {
    margin-left: 34px;
}
